{% extends('base.html.twig') %}

{% block content %}

    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="row" id="react-row">
        </div><!--/row-->
    </div><!--/span-->

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('node_modules/react/dist/react.js') }}"></script>
    <script src="{{ asset('node_modules/react-dom/dist/react-dom.js') }}"></script>
    <script src="{{ asset('node_modules/babel-core/browser.min.js') }}"></script>

    <script type="text/babel" src="{{ asset('js/products.react.js') }}"></script>

    <script type="text/babel">
        var productsUrl = '{{ path('catalog_get_products', {'category': category}) }}';

        ReactDOM.render(
            <ProductSection url={productsUrl}/>,
            document.getElementById('react-row')
        );
    </script>

{% endblock %}